* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-family: "Space Mono", monospace;
  overflow-x: hidden;
}

.about__total-card, #deliver .deliver__card__total, header nav .navbar__list, header nav .navbar {
  display: flex;
  align-items: center;
}

header {
  width: 100%;
}
header nav {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 10;
}
header nav .navbar {
  padding: 22px 0;
  justify-content: space-between;
}
header nav .navbar__check {
  display: none;
}
header nav .navbar__check:checked ~ .navbar__open {
  display: none !important;
}
header nav .navbar__check:checked ~ .navbar__close {
  display: block;
}
header nav .navbar__check:checked ~ .navbar__list {
  transform: translateX(0);
  visibility: visible;
}
header nav .navbar__check:checked ~ .navbar__btn {
  transform: translateX(0);
  visibility: visible;
}
header nav .navbar__open {
  display: none;
}
header nav .navbar__close {
  display: none;
}
header nav .navbar__list {
  list-style: none;
  gap: 32px;
  flex-basis: 70%;
  transition: 0.5s linear;
}
header nav .navbar__list-link {
  color: #939caa;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
}
header nav .navbar__btn {
  background: #fcb72b;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  border: none;
  line-height: 25px; /* 166.667% */
  padding: 15px 20px;
  transition: 0.5s linear;
}
header nav .navbar__btn:hover {
  background: #fff;
  border: 1px solid #fcb72b;
  color: #fcb72b;
}

@media (max-width: 576px) {
  .navbar__list {
    width: 50%;
    height: 100vh;
    padding: 10px 10px;
    position: fixed;
    z-index: 2;
    top: 11%;
    left: 0;
    background: #333a44;
    flex-direction: column;
    transform: translateX(-150%);
    visibility: hidden;
  }
  .navbar__btn {
    transform: translateX(-400%);
    position: fixed;
    bottom: 24px;
    z-index: 2;
  }
  .navbar__open {
    display: block !important;
  }
}
#store {
  background-color: #495567;
}
#store .store__wraper {
  padding: 102px;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
#store .store__wraper .store__wraper-title {
  color: #fff;
  max-width: 450px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 100% */
  letter-spacing: -2.143px;
}
#store .store__wraper .store__btn__wraper {
  display: flex;
  gap: 12px;
}
#store .store__wraper .store__btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
}
#store .store__wraper .store__btn .fa-apple {
  font-size: 25px;
}
#store .store__wraper .store__btn .fa-google-play {
  font-size: 22px;
}

footer {
  background-color: #333a44;
}
footer .footer__wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer__wraper .footer__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 39px;
  flex-basis: 70%;
}
footer .footer__wraper .footer__list .footer__link {
  color: #939caa;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
}
footer .footer__wraper .footer__social {
  display: flex;
  list-style: none;
}

@media (max-width: 375px) {
  .footer__wraper {
    flex-direction: column;
  }
}
#deliver {
  padding-top: 150px;
}
#deliver .deliver__card__total {
  gap: 50px;
}
#deliver .deliver__card__total .deliver__card {
  max-width: 300px;
}
#deliver .deliver__card__total .deliver__card .deliver__card__item--title {
  color: #495567;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  letter-spacing: -1.071px;
  margin-top: 40px;
  margin-bottom: 27px;
}
#deliver .deliver__card__total .deliver__card .deliver__card__item--text {
  color: #939caa;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}

@media (max-width: 768px) {
  #deliver .deliver__card__total {
    margin-top: -160px;
    row-gap: 70px;
    display: flex;
    flex-direction: column;
  }
  #deliver .deliver__card__total .deliver__card {
    display: flex;
    align-items: center;
    gap: 60px;
    max-width: 600px;
  }
  #deliver .deliver__card__total .deliver__card--text {
    color: #939caa;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    max-width: px;
  }
}
@media (max-width: 375px) {
  #deliver .deliver__card__total {
    margin-top: -160px;
    row-gap: 70px;
  }
  #deliver .deliver__card__total .deliver__card {
    display: flex;
    flex-direction: column;
  }
  #deliver .deliver__card__total .deliver__card .deliver__card__item .deliver__card__item--title {
    font-size: 20px;
    text-align: center;
  }
}
#deliver {
  padding-top: 150px;
}
#deliver .deliver__card__total {
  gap: 50px;
}
#deliver .deliver__card__total .deliver__card {
  max-width: 300px;
}
#deliver .deliver__card__total .deliver__card .deliver__card__item--title {
  color: #495567;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  letter-spacing: -1.071px;
  margin-top: 40px;
  margin-bottom: 27px;
}
#deliver .deliver__card__total .deliver__card .deliver__card__item--text {
  color: #939caa;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}

@media (max-width: 768px) {
  #deliver .deliver__card__total {
    margin-top: -160px;
    row-gap: 70px;
    display: flex;
    flex-direction: column;
  }
  #deliver .deliver__card__total .deliver__card {
    display: flex;
    align-items: center;
    gap: 60px;
    max-width: 600px;
  }
  #deliver .deliver__card__total .deliver__card--text {
    color: #939caa;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    max-width: px;
  }
}
@media (max-width: 375px) {
  #deliver .deliver__card__total {
    margin-top: -160px;
    row-gap: 70px;
  }
  #deliver .deliver__card__total .deliver__card {
    display: flex;
    flex-direction: column;
  }
  #deliver .deliver__card__total .deliver__card .deliver__card__item .deliver__card__item--title {
    font-size: 20px;
    text-align: center;
  }
}
#hero {
  overflow: hidden;
  background-image: url(../assets/imgs/header_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#hero .hero__item {
  padding-top: 180px;
  padding-bottom: 120px;
}
#hero .hero__item .hero__item__title {
  max-width: 500px;
  color: #fff;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 100% */
  letter-spacing: -2.5px;
}
#hero .hero__item .hero__title {
  max-width: 400px !important;
  position: relative;
  margin-top: 40px;
  transform: translateX(120px);
}
#hero .hero__item .hero__title .hero__text__p {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  max-width: 400px;
  margin-bottom: 54px;
}
#hero .hero__item .hero__title .hero__btn {
  background: #fcb72b;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
  border: none;
  padding: 15px 27px;
}
#hero .hero__item .hero__title .hero__img {
  position: absolute;
  top: 43px;
  left: -250px;
}
#hero .hero__item .hero__title .hero__img_left {
  position: absolute;
  left: 450px;
  top: 43px;
}
#hero .hero__item .hero__respomsive_img {
  transform: translatex(-200px);
  display: none;
}

@media (max-width: 768px) {
  #hero .hero__item {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #hero .hero__item .hero__item__title {
    max-width: 600px !important;
    text-align: center;
  }
  #hero .hero__item .hero__title {
    width: 100%;
    transform: none;
  }
  #hero .hero__item .hero__title .hero__text__p {
    max-width: 700px;
    text-align: center;
  }
  #hero .hero__item .hero__title .hero__btn {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
  }
  #hero .hero__item .hero__title .hero__img {
    display: none;
  }
  #hero .hero__item .hero__title .hero__img_left {
    display: none;
  }
  #hero .hero__item .hero__respomsive_img {
    display: block;
  }
}
@media (max-width: 375px) {
  #hero .hero__item .hero__item__title {
    font-size: 40px;
    max-width: 300px;
    font-weight: 700;
    line-height: 40px;
  }
  #hero .hero__item .hero__title .hero__text__p {
    font-size: 15px;
    font-weight: 400;
  }
}
#about {
  margin-top: 150px;
}

.about__total {
  position: relative;
}
.about__total .center {
  flex-direction: row-reverse;
}
.about__total-card {
  margin-top: 120px;
  justify-content: space-between;
}
.about__total-card-item {
  max-width: 450px;
}
.about__total-card-item-title {
  color: #495567;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 100% */
  letter-spacing: -2.143px;
  margin-bottom: 24px;
}
.about__total-card-item-text {
  color: #939caa;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}
.about__total-card-item-btn {
  width: 180px;
  height: 53px;
  background: #fcb72b;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
  border: none;
  margin-top: 40px;
}
.about__total-card .img__side {
  position: relative;
  max-width: 500px;
}
.about__total-card .about__img__sid {
  border-radius: 50%;
  width: 100%;
}
.about__total-card .img_y {
  position: absolute;
  left: 400px;
}
.about__total-card .left2__line-img {
  position: absolute;
  top: 30px;
  left: 250px;
}
.about__total-card .img_y {
  position: absolute;
  left: 500px;
}
.about__total-card .left2__line-img-first {
  position: absolute;
  top: 290px;
  left: -110px;
}
.about__total .img__side_center {
  max-width: 500px;
  position: relative;
}
.about__total .img__side_center .about__img__sid__center {
  border-radius: 50%;
  width: 100%;
}
.about__total .img__side_center .left2__line-img_center {
  position: absolute;
  top: 70px;
  left: -135px;
  z-index: 2;
}
.about__total .img__side_center .img_cercol {
  position: absolute;
  left: -140px;
}

@media (max-width: 768px) {
  .about__total {
    flex-direction: column;
  }
  .about__total .about__total-card {
    gap: 60px;
    flex-direction: column-reverse;
  }
  .about__total .about__total-card .about__total-card-item {
    text-align: center;
  }
  .about__total .about__total-card .about__total-card-item-title {
    text-align: center;
  }
  .about__total .about__total-card .about__total-card-item .left2__line-img-first {
    margin-left: 150px;
  }
  .about__total .about__total-card .img__side .left2__line-img {
    right: -50px;
  }
}
@media (max-width: 576px) {
  .about__total-card-item .about__total-card-item-title {
    font-size: 32px;
  }
  .about__total-card-item .about__card__text {
    font-size: 15px;
  }
  .about__total-card-item .about__img__sid {
    max-width: 300px;
  }
}