#store {
  background-color: #495567;
  .store__wraper {
    padding: 102px;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    .store__wraper-title {
      color: #fff;
      max-width: 450px;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px; /* 100% */
      letter-spacing: -2.143px;
    }
    .store__btn__wraper {
      display: flex;
      gap: 12px;
    }
    .store__btn {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 8px;
      .fa-apple {
        font-size: 25px;
      }
      .fa-google-play {
        font-size: 22px;
      }
    }
  }
}

footer {
  background-color: #333a44;
  .footer__wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footer__list {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 39px;
      flex-basis: 70%;
      .footer__link {
        color: #939caa;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px; /* 166.667% */
      }
    }
    .footer__social {
      display: flex;
      list-style: none;
    }
  }
}

@media (max-width: 375px) {
  .footer__wraper {
    flex-direction: column;
    
  }
}
