footer {
  background-color: #333a44;
  .footer__wraper {
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footer__list {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 39px;
      flex-basis: 70%;
      .footer__link {
        color: #939caa;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px; /* 166.667% */
      }
    }
    .footer__social {
      display: flex;
      list-style: none;
      gap: 20px;
      .social__link {
        i {
          color: rgba(212, 212, 14, 0.729) !important;
          font-size: 25px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .footer__wraper {
    flex-direction: column;
    gap: 12px;
    .footer__list {
      flex-direction: column;
    }
    .footer__social {
      margin-top: 150px;
      gap: 30px;
      .social__link {
        i {
          font-size: 25px;
        }
      }
    }
  }
}
